@tailwind base;
@tailwind components;
@tailwind utilities;

.blink-bar {
  opacity: 1;
  margin-left: 4px;
  display: inline;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
